.App {
  text-align: center;
}

.main-nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  font-weight: bold;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.side-nav-links {
  align-items: left;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

.side-nav-header {
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.side-nav-title {
  margin: 10px 0px 10px 0px;
}